extends ../layouts/default

block main
	h2= title

block content
	.row-fluid
		.span6
			p There are a number of hotels within walking distance of Devonshire Terrace, to suit a range of budgets.  Our venue is licensed until 3am, so even if you live in London, perhaps you’d like to make a night of it and stay nearby?

			.row-fluid.accommodation
				.span6
					address
						strong Travelodge London Liverpool Street
						br
						| 1 Harrow Place
						br
						| London 
						br
						a.external(href="http://maps.google.com/maps?q=E17DB") E1 7DB
						br
						a(href="tel:08719846190") 0871 984 6190
				.span6
					address
						strong Threadneedles Hotel
						br
						| 5 Threadneedle Street
						br
						| London 
						br
						a.external(href="http://maps.google.com/maps?q=EC2R8AY") EC2R 8AY
						br
						a(href="tel:02076578080") 020 7657 8080
			.row-fluid
				.span6
					address
						strong Andaz Liverpool Street
						br
						| 40 Liverpool Street
						br
						| London
						br
						a.external(href="http://maps.google.com/maps?q=EC2M7QN") EC2M 7QN
						br
						a(href="tel:02079611234") 020 7961 1234
				.span6
					address
						strong Ibis London City
						br
						| 5 Commercial Street
						br
						| London 
						br
						a.external(href="http://maps.google.com/maps?q=E16BF") E1 6BF
						br
						a(href="tel:02074228400") 020 7422 8400
			.row-fluid
				.span6
					address
						strong Crowne Plaza London Shoreditch
						br
						| 100 Shoreditch High Street
						br
						| London
						br
						a.external(href="http://maps.google.com/maps?q=E16JQ") E1 6JQ
						br
						a(href="tel:02076139800") 0207 613 9800
		.span6
			img(src="img/accommodation.jpg", width="600", class="shadow")
	.row-fluid
		.span12
			p Please let us know if you need any assistance in arranging accommodation.

