extends ../layouts/default

block main
	h2= title

block content
	.row-fluid
		.span6
			p Questions? Comments? Suggestions? Just need someone to talk to?  
			p 
				| Email us at 
				a(href="mailto:becky.and.jonno@gmail.com") becky.and.jonno@gmail.com
		.span6
			img(src="img/contactUs.jpg", class="shadow")


