extends ../layouts/default

block main
	h2= title

block content
	.row-fluid
		.span6
			img(src="img/registry.jpg", width="400", class="shadow")
		.span6
			p We simply want you to be with us on the day, but if you would like to give us a gift, we are registered at John Lewis. 
			p 
				| Our registry can be accessed 
				a.external(href="https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp") here
				|, using Gift List number 506940 (no guest password required).  You can also shop in any John Lewis store using our Gift List number.

