extends ../layouts/default

block main
	h2= title

block content
	.videoContent
		.video(data-video-url="http://www.vimeo.com/7100569")
		.video(data-video-url="http://www.vimeo.com/7100569")
		.video(data-video-url="http://www.vimeo.com/7100569")

